*/bin
*/obj
*/Release
/.vs/config/applicationhost.config
/.vs/Anno/v15/.suo
/.vs/Anno/v15/sqlite3/storage.ide
*.AssemblyInfo.cs
*.pubxml
*.lock
*.ide
*.user
/*/*/obj/
/*/*/bin/
/*/*/*/obj/
/*/*/*/bin/
/.vs/Anno/v15/Server/sqlite3/*.ide-shm
/.vs/Anno/v15/Server/sqlite3/*.ide-wal
/*/*/obj
/.vs/Anno/lut
/DCS/AppService/Packages/
/.vs/Anno/DesignTimeBuild/.dtbcache
/.vs/Anno/v16/.suo
/.vs/Anno/v16/Server/sqlite3/storage.ide-shm
/.vs/Anno/v16/Server/sqlite3/storage.ide-wal
/.vs/Anno/v16/TestStore/0/000-0000.testlog
/.vs/Anno/v16/TestStore/0/testlog.manifest
/.vs/Anno.Core/DesignTimeBuild/.dtbcache.v2
/.vs/Anno.Core/v16/.suo
/.vs/Anno.Core/v16/suoF487.tmp
/src/*/*/*/obj
/src/*/*/*/bin
/samples/*/*/obj
/samples/*/*/bin